In [49]:
import pandas as pd
import numpy as np

In [2]:
infile = "../../../Downloads/201910-citibike-tripdata.csv"
df = pd.read_csv(infile)

In [3]:
df.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,2.092573e+06,2.092573e+06,2.092573e+06,2.092573e+06,2.092573e+06,2.092573e+06,2.092573e+06,2.092573e+06,2.092573e+06,2.092573e+06
mean,9.145827e+02,1.653142e+03,4.073810e+01,-7.398199e+01,1.640030e+03,4.073765e+01,-7.398229e+01,3.168730e+04,1.980680e+03,1.171635e+00
std,7.479508e+03,1.484445e+03,2.985665e-02,1.968598e-02,1.483445e+03,2.965020e-02,1.980151e-02,8.305669e+03,1.219031e+01,5.376945e-01
min,6.100000e+01,7.200000e+01,4.065540e+01,-7.402535e+01,7.200000e+01,4.065540e+01,-7.406250e+01,1.452900e+04,1.874000e+03,0.000000e+00
25%,3.700000e+02,3.790000e+02,4.071894e+01,-7.399490e+01,3.770000e+02,4.071882e+01,-7.399530e+01,2.641900e+04,1.970000e+03,1.000000e+00
50%,6.170000e+02,5.090000e+02,4.073913e+01,-7.398518e+01,5.070000e+02,4.073827e+01,-7.398602e+01,3.278400e+04,1.983000e+03,1.000000e+00
75%,1.054000e+03,3.300000e+03,4.075757e+01,-7.397188e+01,3.298000e+03,4.075691e+01,-7.397208e+01,3.952500e+04,1.991000e+03,1.000000e+00
max,2.946638e+06,3.891000e+03,4.081830e+01,-7.390448e+01,3.891000e+03,4.081830e+01,-7.390448e+01,4.206800e+04,2.003000e+03,2.000000e+00

In [4]:
df.count()

tripduration               2092573
starttime                  2092573
stoptime                   2092573
start station id           2092573
start station name         2092573
start station latitude     2092573
start station longitude    2092573
end station id             2092573
end station name           2092573
end station latitude       2092573
end station longitude      2092573
bikeid                     2092573
usertype                   2092573
birth year                 2092573
gender                     2092573
dtype: int64

In [5]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,527,2019-10-01 00:00:05.6180,2019-10-01 00:08:52.9430,3746,6 Ave & Broome St,40.724308,-74.004730,223,W 13 St & 7 Ave,40.737815,-73.999947,41750,Subscriber,1993,1
1,174,2019-10-01 00:00:15.8750,2019-10-01 00:03:10.1680,3301,Columbus Ave & W 95 St,40.791956,-73.968087,3283,W 89 St & Columbus Ave,40.788221,-73.970416,18264,Subscriber,1992,1
2,759,2019-10-01 00:00:19.8240,2019-10-01 00:12:59.7070,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,174,E 25 St & 1 Ave,40.738177,-73.977387,25525,Subscriber,1995,1
3,615,2019-10-01 00:00:21.0680,2019-10-01 00:10:36.6790,254,W 11 St & 6 Ave,40.735324,-73.998004,477,W 41 St & 8 Ave,40.756405,-73.990026,30186,Subscriber,1992,1
4,761,2019-10-01 00:00:26.3800,2019-10-01 00:13:08.3130,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,174,E 25 St & 1 Ave,40.738177,-73.977387,25597,Subscriber,1992,1

In [12]:
tripminute = []

In [13]:
for trip in df.tripduration:
    tripminute.append(round(trip/60,3))

In [18]:
len(tripminute)

2092573

In [20]:
df["tripduration"] = tripminute

In [32]:
gender = []

In [33]:
for gen in df.gender:
    if gen == 1:
        gender.append("Male")
    elif gen == 2:
        gender.append("Female")
    else:
        gender.append("Unspecified")

In [34]:
gender[0:5]

['Male', 'Male', 'Male', 'Male', 'Male']

In [35]:
df.gender = gender

In [37]:
generation = []

In [39]:
for year in df["birth year"]:
    if year > 1994:
        generation.append("Gen Z")
    elif year > 1979:
        generation.append("Millennial")
    elif year > 1964:
        generation.append("Gen X")
    elif year > 1943:
        generation.append("Boomer")
    else:
        generation.append("Greatest Generation")

In [40]:
len(generation)

2092573

In [41]:
generation[0:9]

['Millennial',
 'Millennial',
 'Gen Z',
 'Millennial',
 'Millennial',
 'Gen Z',
 'Millennial',
 'Millennial',
 'Gen X']

In [42]:
df["Generation"] = generation

In [53]:
df.sort_values(by = "birth year").head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Generation
2066604,20.150,2019-10-31 15:59:01.2210,2019-10-31 16:19:10.6080,458,11 Ave & W 27 St,40.751396,-74.005226,3178,Riverside Dr & W 78 St,40.784145,-73.983625,32768,Subscriber,1874,Male,Greatest Generation
880581,8.450,2019-10-13 12:11:28.0800,2019-10-13 12:19:55.4830,3235,E 41 St & Madison Ave,40.752165,-73.979922,2017,E 43 St & 2 Ave,40.750224,-73.971214,40636,Subscriber,1885,Unspecified,Greatest Generation
797935,16.350,2019-10-12 09:12:45.6020,2019-10-12 09:29:06.6050,455,1 Ave & E 44 St,40.750020,-73.969053,497,E 17 St & Broadway,40.737050,-73.990093,15842,Subscriber,1885,Unspecified,Greatest Generation
42120,6.533,2019-10-01 15:17:24.5710,2019-10-01 15:23:57.4620,536,1 Ave & E 30 St,40.741444,-73.975361,455,1 Ave & E 44 St,40.750020,-73.969053,20951,Subscriber,1885,Unspecified,Greatest Generation
1697178,6.267,2019-10-25 12:06:13.2190,2019-10-25 12:12:29.8020,385,E 55 St & 2 Ave,40.757973,-73.966033,2017,E 43 St & 2 Ave,40.750224,-73.971214,21699,Subscriber,1885,Unspecified,Greatest Generation

In [55]:
# pd.to_numeric(df['birth year'], errors='coerce')

In [56]:
df.loc[df['birth year'] < 1930, 'birth year'] = np.nan

In [59]:
df.sort_values(by = "tripduration", ascending = False).head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Generation
42479,49110.633,2019-10-01 15:22:01.0670,2019-11-04 16:52:39.8230,519,Pershing Square North,40.751873,-73.977706,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,40515,Customer,1969.0,Unspecified,Gen X
132013,43611.667,2019-10-02 15:19:24.2840,2019-11-01 22:11:04.7600,334,W 20 St & 7 Ave,40.742388,-73.997262,540,Lexington Ave & E 29 St,40.743116,-73.982154,25079,Subscriber,1990.0,Male,Millennial
383859,41554.417,2019-10-06 13:41:34.9840,2019-11-04 09:16:00.5480,3697,W 64 St & Thelonious Monk Circle,40.775160,-73.989187,3502,Lexington Ave & E 111 St,40.795412,-73.944123,31512,Customer,1969.0,Unspecified,Gen X
300921,40298.400,2019-10-05 10:39:26.1850,2019-11-02 10:17:50.4150,3059,Pulaski St & Marcus Garvey Blvd,40.693398,-73.939877,3047,Halsey St & Tompkins Ave,40.682369,-73.944118,38367,Customer,1969.0,Unspecified,Gen X
86193,34255.900,2019-10-01 23:16:06.0020,2019-10-25 18:12:00.4160,3518,Lenox Ave & W 126 St,40.808442,-73.945209,3400,E 110 St & Madison Ave,40.796153,-73.947821,30165,Subscriber,1979.0,Female,Gen X

In [61]:
type(df['birth year'])

pandas.core.series.Series

In [62]:
df.loc[df['tripduration'] > 120, 'tripduration'] = np.nan

In [64]:
df.tripduration.max()

120.0

In [66]:
df.sort_values(by = "tripduration", ascending = False).head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Generation
1244304,120.000,2019-10-18 15:54:39.5210,2019-10-18 17:54:39.5220,3525,23 Ave & 27 St,40.776165,-73.915318,3598,Newton Rd & 44 St,40.759570,-73.914268,20231,Customer,1969.0,Unspecified,Gen X
840261,119.983,2019-10-12 17:03:20.0560,2019-10-12 19:03:19.3060,388,W 26 St & 10 Ave,40.749718,-74.002950,388,W 26 St & 10 Ave,40.749718,-74.002950,40402,Subscriber,1981.0,Male,Millennial
677680,119.933,2019-10-10 16:58:20.2340,2019-10-10 18:58:17.1920,501,FDR Drive & E 35 St,40.744219,-73.971212,315,South St & Gouverneur Ln,40.703554,-74.006702,29077,Customer,1969.0,Unspecified,Gen X
1972854,119.900,2019-10-29 22:32:42.6870,2019-10-30 00:32:37.0070,285,Broadway & E 14 St,40.734546,-73.990741,490,8 Ave & W 33 St,40.751551,-73.993934,31259,Customer,1969.0,Unspecified,Gen X
738261,119.867,2019-10-11 11:19:34.4470,2019-10-11 13:19:27.0990,312,Allen St & Stanton St,40.722055,-73.989111,3812,University Pl & E 14 St,40.734814,-73.992085,20621,Customer,1969.0,Unspecified,Gen X

In [71]:
df = df.dropna()

In [72]:
df.count()

tripduration               2086694
starttime                  2086694
stoptime                   2086694
start station id           2086694
start station name         2086694
start station latitude     2086694
start station longitude    2086694
end station id             2086694
end station name           2086694
end station latitude       2086694
end station longitude      2086694
bikeid                     2086694
usertype                   2086694
birth year                 2086694
gender                     2086694
Generation                 2086694
dtype: int64

In [73]:
df.usertype.describe()

count        2086694
unique             2
top       Subscriber
freq         1794393
Name: usertype, dtype: object

In [74]:
df.gender.describe()

count     2086694
unique          3
top          Male
freq      1423485
Name: gender, dtype: object

In [75]:
df.Generation.describe()

count        2086694
unique             5
top       Millennial
freq         1030994
Name: Generation, dtype: object

In [76]:
df.rename(columns = {"Generation": "generation"}, inplace = True)

In [78]:
df.to_csv("citibike.csv", index = False)